body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes fly_down {
    from {
        margin-top: -20vh;
    }

    to {
        margin-top: 0vh;
    }
}

h1 {
    font-size: 6vh;
    width: auto;
    text-align: center;
    margin: 0 auto;
    animation: fly_down 2s;
}

header {
    padding: 2rem;
    background-color: rgb(205, 164, 205);
    text-align: center;
    margin: 10px;
    box-shadow: 0.2rem 0.4rem rgb(161, 112, 120);
}


h2 {
    text-align: center;
    margin: 0 auto;
}

@keyframes photo {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    .own-picture {
        height: 25vh;
        width: 22vh;
        padding: 2vh;
        margin-right: 3vw;
        text-align: center;
        border-radius: 50%;
        animation: photo;
        animation-duration: 6s;
    }

    .info {
        margin: 10px;
        background-color: rgb(238, 213, 238);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        box-shadow: 0.2rem 0.4rem rgb(161, 112, 120);
        padding-bottom: 1rem;
    }
}

@media screen and (min-width: 600px) {
    .own-picture {
        height: 25vh;
        width: fit-content;
        padding: 2vh;
        margin-right: 3vw;
        text-align: center;
        border-radius: 50%;
        animation: photo;
        animation-duration: 6s;
    }

    .info {
        margin: 10px;
        background-color: rgb(238, 213, 238);
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        text-align: center;
        box-shadow: 0.2rem 0.4rem rgb(161, 112, 120);
    }
}

.author {
    text-align: center;
    margin-top: 20px;
}

.contact-me {
    background-color: rgb(238, 213, 238);
    min-height: 15vh;
    margin: 10px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: center;
    box-shadow: 0.2rem 0.4rem rgb(161, 112, 120);
}

.education {
    margin: 10px;
    box-shadow: 0.2rem 0.4rem rgb(161, 112, 120);
}

.work {
    margin: 10px;
    box-shadow: 0.2rem 0.4rem rgb(161, 112, 120);
}

.knowledge {
    margin: 10px;
    box-shadow: 0.2rem 0.4rem rgb(161, 112, 120);
}

ul {
    padding-bottom: 2rem;
}

footer {
    text-align: center;
    margin: 10px;
    padding: 2rem;
    background-color: rgb(205, 164, 205);
    box-sizing: border-box;
    box-shadow: 0.2rem 0.4rem rgb(161, 112, 120);
}

#github {
    text-decoration: none;
    color: rgb(91, 44, 91);
}

@media screen and (max-width: 600px) {
    .social-media {
        min-height: fit-content;
        list-style-type: none;
        padding: 1rem;
        text-decoration: none;
        color: rgb(91, 44, 91);
    }

    .social-media li {
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 600px) {
    .social-media {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style-type: none;
        padding: 1rem;
        text-decoration: none;
        color: rgb(91, 44, 91);
    }
}

.fa-brands {
    color: rgb(91, 44, 91);
}

.fa-solid {
    color: rgb(91, 44, 91);
}

.email {
    text-decoration: none;
    color: rgb(91, 44, 91);
}

.mobil {
    text-decoration: none;
    color: rgb(91, 44, 91); 
}